@page "/parcels"
@attribute [Authorize]
<h3>Parcels</h3>

<div class="container">
    <div class="row py-5">
        <div class="col">

        
        </div>
    </div>
</div>

@code {
    List<Parcel> ToReceive;
    List<Parcel> Sended;

    List<Parcel> History;


}
