@page "/parcels"
@using BlazorParcelApp.Client.Services;
@inject HttpClient Http
@inject IParcelService ParcelService
@attribute [Authorize]

<h3>Parcels</h3>
<RadzenDataGrid PageSize="5" AllowColumnResize="true"
    AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" 
    AllowPaging="true" AllowSorting="true" 
    AllowFiltering="true" FilterMode="FilterMode.Advanced"
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    LogicalFilterOperator="LogicalFilterOperator.Or" 
    FilterPopupRenderMode="PopupRenderMode.OnDemand"
    Data="@parcels" TItem="ParcelDto" ColumnWidth="300px" >
    <Columns>
        <RadzenDataGridColumn TItem="ParcelDto" Property="Name" Title="Name" Width="150px"/>
        <RadzenDataGridColumn TItem="ParcelDto" Property="State" Title="State" Width="100px"/>
        <RadzenDataGridColumn TItem="ParcelDto" Property="Sender" Title="Sender" Width="150px"/>
        <RadzenDataGridColumn TItem="ParcelDto" Property="Receiver" Title="Receiver" Width="150px"/>
        <RadzenDataGridColumn TItem="ParcelDto" Property="DestLocker" Title="DestLocker" Width="150px"/>
        <RadzenDataGridColumn TItem="ParcelDto" Property="SrcLocker" Title="SrcLocker" Width="150px"/>
    </Columns>
</RadzenDataGrid>

@code {
    List<ParcelDto> parcels = new();
    string username2 = string.Empty;

    protected override async Task OnInitializedAsync() {
        parcels = await ParcelService.GetParcels();
    }

}
