@page "/admin/locker-add"
@inject HttpClient Http
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="lockerdto" OnSubmit="OnSubmit" class="d-flex flex-column align-items-center">
<div class="border p-4 col-6">
    <h3 class="text-center">AddLocker</h3>
    <div class="mb-2">
        <label for="city">City:</label>
        <InputText @bind-Value="lockerdto.City" class="form-control"></InputText>
    </div>
    <div class="mb-2">
        <label for="name">Address:</label>
        <InputText @bind-Value="lockerdto.Address" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary mt-3 w-100">Add</button>
    <div class="text-danger">
        <span>@errorMessage</span>
    </div>
</div>       
</EditForm>

@code {
    LockerDto lockerdto = new LockerDto();
    private string errorMessage = string.Empty;

    private async Task OnSubmit() {
        var result = await Http.PostAsJsonAsync($"/api/Locker/", lockerdto);

        if (!result.IsSuccessStatusCode) {
            errorMessage = await result.Content.ReadAsStringAsync();
            return;
        }

        NavManager.NavigateTo($"/lockers");


    }

}
