@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager

<div class="page">    
    <main>
        <NavMenu />
        <article class="content px-4">
            
            @Body
            <RadzenNotification></RadzenNotification>
        </article>
    </main>
</div>
